# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Dados temporários
*.tmp
*.temp

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Dados locais
data_local/
dados_local/

# Resultados temporários
outputs_tmp/
